.cop_tabular_contents > div.visualNoPrint > a {
    position: fixed;
    bottom: 20px;
    left: 713px;
    background-color: #FFF;
    border: 1px solid #808080;
    padding: 2px 6px;
}
.cop_batch_navigation {
    position: fixed;
    bottom: 2px;
    left: 166px;
    width: 800px;
    background-color: #FFF;
    padding: 0 15px;
    border: 1px solid #808080;
} 
.cop_tabela_dinamica{
    width:100%;
    border:0;
    font-size:13px;
}
.cop_container_tabelas{
    position:relative;
    width:auto;
    height:auto;
    padding:10px;
    clear:both;
    border-radius:5px;
}
.cop_conteudo_even, .cop_conteudo_odd, .cop_cabecalho_conteudo{
    text-align:right;
}
.cop_cabecalho_conteudo td{
    border-bottom: 1px solid black;
}
.cop_conteudo_odd{
    background-color:#DDDDDD;
}
.cop_nome_usuario{
    text-align:left;
    padding-left: 5px;
}
.cop_conteudo_even td, .cop_conteudo_odd td, .cop_cabecalho_conteudo td{
    padding-right: 5px;
}
.cop_atividade_abas{
    list-style:none;
    padding-left:5px;
}
.cop_atividade_abas li{
    float:left;
    border:1px solid #ccc;
    border-bottom:0;
    margin-right:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    position: relative;
}
.cop_atividade_abas a{
    padding:10px;
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
}
.cop_tabela_dinamica a{
    font-size:13px;
    color:#000000;
    font-weight:bold;
    padding-top:8px;
    padding-bottom:8px;
    display:block;
    width:100%;
    height:100%;
}
.cop_li_ativo{
    background:#DDDDDD;
    border-color:#DDDDDD;
}
.cop_link_ativo:hover{
    background:#BBBBBB;
}
.cop_tabela_dinamica .cop_total_conteudo a{
    text-decoration: underline;
}

.pb-ajax > div{
    width:96%;
}   
.cop_tabela_conteudo{
    width:100%;
    border:0;
    font-size:13px;
}   
.cop_tabela_conteudo tr{ 
    height:30px;
}   
.cop_titulo_conteudo td{ 
    border-bottom: 1px solid black;
}   
.cop_tabela_conteudo tr td{ 
    padding:5px;
}   
.cop_titulo_objeto{
    padding-right: 10px;
    max-width:200px;
    width:auto;
}   
.cop_objetos_odd{
    background-color:#DDDDDD;
}   
.cop_objeto_zero td{ 
    font-size:20px;
    height:50px;
    width:100%;
    text-align:center;
} 
