/*Custom font for icons*/
@font-face {
    font-family: "CopplaIcon";
    font-style: normal;
    src: url(++resource++communities.practice.stylesheets/coppla-icon.ttf); /*if IE */
    src: local("CopplaIcon"), url("++resource++communities.practice.stylesheets/coppla-icon.ttf") format("truetype"); /* non-IE */
}

.cop_font_icon {
    font-family: CopplaIcon;
    text-transform: none !important;
}

/* Base */
#cop_menu{
    float: left;
    min-width:80px;
}
#cop_content{
    width: auto;
    margin-top: 42px;
}
#cop_footer{
    width: auto;
    margin-left: 100px;
    margin-top: 27px;
    text-align: center;
}
#cop_actions {
    margin-left: 38px;
}
#portal-breadcrumbs{
    margin: 2px auto auto 162px;
    font-family: Myriad Web Pro, Helvetica, Arial, sans-serif;
    font-size: 11pt;
    color: #AAA;
}
#portal-column-two{
    margin-top: 70px;
}

dl.portalMessage{
    clear:none;
}

div.width-3\:4 {
    width: 73%;
}

/*Workflow Button*/
#cop_workflow {
    float: right;
    font-size: 12pt;
    border-left: thin solid black;
    padding-left: 4px;
    margin-top: -19px;
}

#cop_workflow ul {
    display: inline;
}

#cop_workflow a {
    color: #000;
    text-transform: lowercase;
    padding: 3px 6px;
}

#cop_workflow a.cop_selected {
    background-color: #666;
    color: #FFF;
    padding-bottom: 1px;
}

/*Menu*/
#cop_menu div {
    border-right: thin solid black;
    width: auto;
    text-align: center;
    font-size: 7pt;
    margin: 0 auto;
    padding-right: 3px;
    text-transform: uppercase;
    line-height: 2em;
}

#cop_menu .cop_icon_common, #cop_menu .cop_icon_selected {
    margin-top: 15px;
    width: 36px;
    height: auto;
}

#cop_menu .cop_font_icon {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    height: auto;
    font-size: 36px;
    text-align: center;
}

.cop_menu_selected .cop_font_icon {
    color: #338E88;
}

#cop_menu a {
    width: 100%;
    height: 100%;
    display: block;
    color: #000;
}

.cop_menu_item a {
    opacity: 0.6;
    filter:alpha(opacity=60);
}

.cop_menu_item .cop_icon_selected,
.cop_menu_disabled .cop_icon_selected,
.cop_menu_selected .cop_icon_common {
    display: none;
}

.cop_menu_selected .cop_icon_selected {
    display: inline;
}

.cop_menu_selected {
    opacity: 1.0;
    filter:alpha(opacity=100);
    position: relative;
}

.cop_menu_selected .cop_menu_indicador {
    position: absolute;
    right: -2px;
    top: 15px;
}

.cop_menu_disabled a {
    opacity: 0.25;
    filter:alpha(opacity=25);
}

.cop_menu_hidden {
    display: none;
}

/*Footer*/
.cop_footer_container {
    display: inline-block;
}

.cop_footer_item,
.cop_footer_link, 
.cop_footer_link:link, .cop_footer_link:visited {
    text-transform: uppercase;
    color: #000;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    font-size: 9pt;
}

a.cop_footer_link {
    background-color: #EEE;
    padding: 6px 12px;
    border: 1px solid #AAA;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.cop_footer_item img {
    margin: 12px;
    width: auto;
    height: 24px;
}

/*Actions and Sharing */
#cop_actions {
    margin-bottom: 18px;
}

#cop_actions .cop_font_icon {
    font-size: 32px;
}

#cop_actions span {
    text-align: center;
    font-size: 8pt;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 4px;
}

#cop_actions a, #cop_actions a:link,
#cop_actions a:hover, #cop_actions a:visited {
    color: #000;
}

#cop_actions .cop_action_menu img {
    margin-bottom: 8px;
}

/*Actions and Share popups*/
#cop_actions_container .cop_action_arrow {
    position: absolute;
    top: 46px;
    left:-13px;
}

#cop_share_container .cop_action_arrow {
    position: absolute;
    top: -18px;
    left: 34px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg); /* Opera */:
}

#cop_actions_container .cop_action_popup {
    margin-top: -94px;
    margin-left: 42px;
    min-height: 64px;
}

#cop_share_container .cop_action_popup {
    margin-top: 14px;
    margin-left: 2px;
}

.cop_action_popup {
    position: absolute;
    padding: 20px 17px 0;
    width: 172px;
    background-color: #efefed;
    border: thin solid #b2b4b3;
    border-radius: 12px;
    display: none;
    z-index: 500;
}

.cop_action_popup .cop_action_disabled {
    opacity: 0.25;
    filter:alpha(opacity=25);
}

.cop_action_popup .cop_action_item {
    float: left;
    min-width: 86px;
    margin: 0 0px 28px;
    text-align: center;
}

.cop_action_popup .cop_action_item span {
    min-height: 42px;
    vertical-align: middle;
}

#cop_share_container .cop_action_popup {
    padding: 8px 23px;
    width: auto;
}

#cop_share_container .cop_action_item {
    margin-bottom: 0;
}

/*Tabular*/
.cop_tabular_container {
    margin: 7px auto;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.cop_tabular_abas {
    margin-bottom: 4px;
}

.cop_tabular_abas ul {
    display: inline;
    list-style: none;
    margin: 0 auto;
}

.cop_tabular_abas li {
    padding-bottom: 5px;
}

.cop_tabular_abas li.cop_selected { 
    border: 1px solid #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid white;
    background-color: #FFF;
    padding-top: 5px;
}

.cop_tabular_abas a,
.cop_tabular_abas a:visited,
.cop_tabular_abas a:hover
{
    padding: 0px 20px;
    text-decoration: none;
    color: #000;
}

.cop_tabular_contents {
    float: left;
    clear: both;
    width: 98%;
    border: 1px solid #000;
    border-top-left-radius: 0px;
    padding: 12px;
    text-align: left;
}

/*Communities Listing Header*/
.cop_list_header {
    background-color: #FBFBFB;
    border-bottom: 1px solid #CDCDCD;
    padding: 15px 25px;
    margin-bottom: 12px;
}

.cop_list_header div {
    display: inline-block;
}

.cop_list_foldertitle {
    font-size: 23px;
    font-weight: bolder;
    padding-left: 30px;
    text-decoration:none;
    text-transform: uppercase;
    line-height: 40px;
    color: #000;
}

.cop_list_folderdescription {
    font-size: 15px;
    text-indent: 20px;
    text-align: justify;
}

.cop_list_create {
    padding: 5px;
    margin-left: 10px;
    width: 165px;
    height: 42px;
}

/*Communities Listing Body*/
.cop_listing_item {
    clear: both;
    overflow: auto;
    padding: 6px 0;
    position: relative;
}

.cop_listing_item + .cop_listing_item{
    border-top: 1px solid #CDCDCD;
}

.cop_listing_img {
    overflow: hidden;
    height: 82px;
}

.cop_listing_img, .cop_listing_img img{
    float: left;
    width: 120px;
    text-align: center;
    padding: 5px 5px 0 0;
}

.cop_listing_text > a span {
    font-size: 16px;
    font-weight: bolder;
    text-decoration:none;
    text-transform: uppercase;
    line-height: 30px;
}

.cop_listing_text {
    margin-right: 132px;
    margin-left: 134px;
}

.cop_listing_text > p{
    text-align: justify;
    line-height: 16px;
    font-size: 10pt;
    margin-top: -6px;
    padding-bottom: 12px;
}

.cop_listing_join {
    text-align: center;
    padding: 5px;
    float: right;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -35px;
    margin-left: -115px;
    font-size: 9pt;
    text-transform: uppercase;
}

.cop_listing_join a, .cop_listing_join span {
    display: inline-block;
    color: #000;
    padding: 5px;
    background-color: #EEE;
    border: 1px solid #AAA;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.cop_listing_info {
    font-size: 10pt;
    text-align: left;
}

.cop_listing_info span {
    text-transform: capitalize;
}

span.cop_separator {
    padding: 0 5px; 
    font-size: 12px;
    font-weight:bold;
}

/*Title*/
.cop_wall_title{
    display:inline-block;
    margin-left: 93px;
    vertical-align: top;
}

.cop_wall_title h1{
    font-size : 17pt;
}

/*Description*/
.cop_wall_description {
    border-bottom: 1px solid #ccc;
    margin: 0 41px;
}

.cop_wall_description {
    margin-bottom: 30px;
    position: relative;
}

.cop_wall_description p {
    padding-bottom: 30px;
    font-size: 11pt;
    text-align: justify;
    padding-right: 130px;
}

.cop_wall_description > span {
    display: block;
    overflow: auto;
    margin: 22px 0; 
}

.cop_wall_description .cop_button_description{
    margin-right: 125px;
}

.cop_description_hidden > span {
    display: none;
}

.cop_wall_description .cop_wall_image {
    width: 64px;
    height: auto;
}

/*Contents*/
.cop_container {
    width: 98%;
    border-top: 1px solid black;
    padding: 12px;
    text-align: left;
}
.cop_container .view_cop_description{
    padding: 16px 0px;
}
.cop_wall_button {
    width: 42px;
    margin-left: -21px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -9px;
    cursor: pointer;
}

.cop_wall_item, .cop_wall_item {
    margin: 11px 41px;
    font-size: 11pt;
    text-align: justify;
    overflow: auto;
}

.cop_wall_item + .cop_wall_item {
        margin-top: 15px;
}

.cop_wall_item h1, .cop_wall_description h1 {
    font-size: 17pt;
}

.cop_wall_image {
    float: left;
    width: 162px;
    height: 88px;
    overflow: hidden;
    margin-right: 12px;
}

.cop_wall_image img {
    width: 100%;
}

#folderlisting-main-table {
    margin: 5px auto;
}

#folderlisting-main-table table {
    width: 100%;
    margin-bottom: 5px;
}

/*Add item*/
.cop_container fieldset {
    border: 0;
}

.cop_container input[name="title"] {
    width: 100%;
    line-height: 125%;
    font-size: 16pt;
    padding-left: 12px;
}

/*Config*/
table.cop_config_table{
    width: 100%;
    border-spacing: 5px;
}
.cop_container h4{
    margin: 10px 0px;
}

#cop_part_pendentes .refused_message{
    width:100%;
}

/*folder_contents*/
#existingTags .visualClear, select#subject {
    float: none;
    clear: both;
}

select#subject {
    display: block;
    width: 80%;
}

.cop_container #content, .cop_container div{
    clear:none;
}

/*Owner informations*/
#viewlet-below-content-title{
    margin-bottom: 10px;
}

/*title cop_items*/
.cop_link_view h1,
.cop_document_view h1,
.cop_file_view h1,
.cop_image_view h1,
.cop_event_view h1{
    font-size: 17pt;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/*link_view*/
.cop_link_view #cop_link{
    font-weight: bold;
    font-size: 15pt;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

/*image_view*/
.cop_image_view img{
    width:auto;
    height:auto;
    max-width:40%;
}

/*Notificação*/
.textoAlerta{
    color : red;
}

#viewlet-below-content .reply, #viewlet-below-content .discussion, .commentBody{
    clear: none;
}

.discussion .documentByLine {
    float: none;
}

#viewlet-below-content {
    margin-left: 98px;
}

html {
    overflow-x: hidden;
}

/*Listar referencias uma abaixo da outra*/
.ArchetypesField-ReferenceField li{
    display: block;
}

/*viewCoPMembers*/
.cop_member_not_results, .cop_member_results{
    margin: 20px 0;
}

.cop_member_results .cop_member_img{
    float:left;
    height:100%;
}

.cop_member_results .cop_member{
    float:left;
    width: 220px;
    height: 85px;
    overflow: hidden;
    margin: 8px;
    text-align:left;
}

.cop_member_results .cop_member_link img{
    height:70px;
    width:auto;
}

.cop_member_results span{
    font-size:10pt;
}

.cop_search_members #cop_search_input{
    float:right;
    line-height: 40px;
}

.cop_container .cop_search_submit {
    background-image:url("++resource++communities.practice.images/lupa.jpg");
    background-repeat:no-repeat;
    background-color:transparent;
    height:22px;
    width:22px;
    border:none;
    text-indent:-999em;
    cursor:pointer; 
}

.cop_batch_navigation{
    width: 100%;
    display: inline-block;
}

/*Ajax Loader*/
.cop_ajax_loader {
    text-align: center;
    display: none;
}

.cop_span_button {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border-width: medium 1px 1px medium;
    border-style: none solid solid none;
    font-size: 6pt;
    padding: 5px 6px 6px;
}
