.dashboard_content_view .cop_tabular_contents,
.dashboard_content_add .cop_tabular_contents {
    padding: 0;
}

.dashboard_news_item {
    padding: 22px 27px;
} 

.dashboard_news h1{
    font-size: 17pt;
    margin:27px;
    margin-top:-40px;
} 

.dashboard_news_item + .dashboard_news_item {
    border-top: 1px solid black;
}

.dashboard_news_header {
    overflow: auto;
}

.dashboard_news_author {
    font-size: 0.9em;
}

.dashboard_news_timestamp {
    display: block;
    float: right;
    clear: right;
}

.dashboard_news_textcontainer {
    width: 100%;
    padding: 8px;
    overflow: auto;
}

.dashboard_news_avatar {
    display: block;
    float: left;
    overflow: auto;
}

.dashboard_news_avatar img {
    width: 45px;
    height: auto;
}

.dashboard_news_text {
    margin-left: 36px;
}
    
.dashboard_news_description, .dashboard_news_title {
    vertical-align: top;
}

.dashboard_commentaries > a {
    margin-left: 75px;
    margin-bottom: 16px;
    font-size: 11pt;
    line-height: 2em;
}

.dashboard_commentary {
    margin-left: 75px;
    font-size: 11pt;
    margin-bottom: 6px;
}

.dashboard_commentary.even {
    background-color: #DDD;
}

.dashboard_commentary a {
    display: inline-block;
}

.dashboard_commentary_avatar img {
    height: 40px;
}

.dashboard_commentary span {
    vertical-align:top;
    padding-left: 5px;
    display: inline-block;
    width: 80%;
}

.dashboard_comment {
    margin-left: 75px;
}

.dashboard_comment textarea {
    width: 97%;
    min-height: 48px;
}

.dashboard_insertion_box {
    width: 98%;
}

.dashboard_insertion_box fieldset {
    border: 0;
}

.dashboard_insertion_box input[name="title"] {
    width: 98%;
    line-height: 125%;
    font-size: 16pt;
    padding-left: 12px;
}

.dashboard_insertion_box select[name="community_insert"] {
    line-height: 125%;
    font-size: 16pt;
    padding-left: 12px;
}

.dashboard_news_image img {
    height: auto;
    max-width: 300px;
    margin-left: 36px;
}

.overlay-ajax iframe {
    height:150px;
}

/* Custon */

#portal-column-two {
    margin-top: 0px;
}

div.position-1\:4 {
    margin-left: -80.875%;
}

div.width-1\:2 {
    width: 62.75%;
}

#portal-breadcrumbs {
    margin: 2px auto auto 1px;
}

.cop_tabular_container {
    margin: 12px auto;
}

.dashboard_content_view .cop_page {
    margin: -1px;
    padding: 20px;
    border: 1px solid white;
    border-top: 1px solid black;
}


/* Custon portlet*/

.portletRedesSociais .macro_tabular_container {
    padding: 0em!important;
}

.macro_portlet .macro_tabular_contents {
    padding: 2px!important;
}

#macro_twitter {
    width: 200px !important;
}

#channel_div * {
    max-width: 80% !important;
}

.fb-like-box.fb_iframe_widget span iframe {
    width: 200px !important;
}

.portlet_comunidades .portlet_comunidades_item img {
    height: 35px !important;
    max-width: 35px !important;
}

