.table {
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #b8b8b8;
}

.arrow_up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #bfbfbf;
}

.arrow_down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #bfbfbf;
}

th.file_header{
    font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: #404040;
    border: 1px solid #b8b8b8;
    color: #fff;
    text-align: center;
}

th.file_header a{
    display:block;
}

td, tr{
    border: 1px solid #b8b8b8;
    text-align: center
}

tbody tr:nth-child(odd) {
   background-color: #f2f2f2;
}

th.file_header a:visited, th.file_header a:link {
    color: #fff!important;
    border: 0;
}

th.file_header span {
    display: inline-block;
    margin-left: 4px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

#file_table .cop_link_folder_content {
    display:block;
}

#file_table tr:hover{
    background-color: #DDD;
}
