/*Style Sub_Comunidades*/

.sub_cop_commmunity {
    background-color:#E0E6E3;
    min-width: 700px;
    height: auto;
    padding-bottom: 10px;
    margin-left: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
    float: left;
    clear: both;
    box-shadow:1px 1px 3px #888888;
}

.sub_cop_odd {
    margin-top:30px;
    width:inherit;    
}

.sub_cop_odd > .sub_cop_commmunity {
    background-color:#EDF1EF;
    box-shadow:1px 1px 3px #888888;
}

/*Imagem*/

.sub_cop_left {
    margin-left:22px;
    margin-top:15px;
    margin-right:25px;
    height:auto;
    display: inline-block;
    float:left;
    width: 130px;
}

.sub_cop_img {
    width:125pt;
    height:51pt;
    overflow:hidden;
    border:1px solid #000000; 
}

.sub_cop_img img{  
    display: block;
    border:1px solid #000000; 
    width:125pt;
    height:auto;
}  

/*link Participar*/

.sub_cop_bottom {
    background-color:#2b3537;
    border-radius: 3px;   
    border-color:#2b3537;
    height:24px;
    padding-right:10px;
    text-align: center;
    line-height:24px;
    text-decoration:none;
    width:117pt;
}

.sub_cop_participar span, .sub_cop_aguardando span, .sub_cop_deixar span{
    font-size:12px;
}

#content .sub_cop_bottom {
    font-size:9px;
    color:#FFFFFF;
    text-decoration:none;
    text-transform:uppercase;
    border-bottom: none;
    margin-top: 20px;
} 

span.sub_cop_font_participar, span .sub_cop_font_participar :hover, span .sub_cop_font_participar :active {
    color:#5FB34D;
    padding-right:10px;
}

span.sub_cop_font_aguardando, span.sub_cop_font_aguardando :hover, span.sub_cop_font_aguardando :active {
    color:#E7A73C;
    font-size: 10px;
    padding-right:10px;
}

span.sub_cop_font_deixar, span.sub_cop_font_deixar :hover, span.sub_cop_font_deixar :active {
    color:#DD502F;
    padding-right:10px;
    font-size: 10px;
}

/* Titulo*/

.sub_cop_text .sub_cop_title {
    font-size: 13pt;
    line-height:20px;
    color:#624C31;
    font-weight:bold;
    text-transform:uppercase;
    height:auto;
    border:none;
}

/*Descrição*/

.sub_cop_description span{
    text-align:justify;
    color:#624C31;
    line-height:1.5em;
}

.sub_cop_description {
    margin-top: 15px;
    height:auto;
   
}

.sub_cop_text {
    height:auto;
    float: left;
    padding-top: 10px;
    margin-left: 35px;
    max-width:470px;
}

.sub_cop_text a:link{
    text-decoration:none;
}

.sub_cop_text span{
    font-family: Arial, Helvechia, Verdana;
    font-size: 11pt;
    border-bottom: none;
}

/*Criador, Visibilidade, Participantea*/

.sub_cop_creator {
    margin-top:20px;
    font-size:9px;
    color:#624C31;
    margin-bottom: 10px;
}

#content .sub_cop_creator :link, #content  .sub_cop_creator :hover, #content .sub_cop_creator :active, #content .sub_cop_creator :visited {
    text-decoration:none;
    color:#624C31;
    text-transform:capitalize;
}

/*link sub-communidades*/

div .cop_sub_source {
    margin-left:10px;
    font-size:7pt;
    font-family: Arial, Helvechia, Verdana;
    text-transform:uppercase;
    width:300px;
}

.cop_sub_source :link , .cop_sub_source :hover, .cop_sub_source :active, .cop_sub_source :visited, .cop_sub_source span {
    text-decoration:none;
    color:#0B1213;
}

.cop_seta_direita {
    width:0;
    height:0;
    border-top: 5px solid transparent;
    border-bottom:5px solid transparent;
    border-left: 5px solid #634d31;
}

.cop_seta_baixo {
    width:0;
    height:0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #634d31;
}

.sub_cop_more .cop_sub_source {
    margin-top:-12px;
}
.sub_cop_more .cop_seta_direita {
    margin-top:20px;
}

.sub_cop_more  .cop_seta_baixo {
    margin-top:20px;
}

span .sub_cop_more  {
    margin-top: -20px;
}

.sub_cop_hide {
    display:none;
}

.sub_cop_show {
    display:block;
}


/*viewCopSubCopMenu*/

/*criar comunidade*/

.sub_cop_new {
    width:160px;
    height:30px;
    line-height:30px;
    background-color:#2b3537;
    border-radius:5px 5px 5px 5px;
    margin-left:20px;
    display:inline-block;
    text-decoration:none;
    color:#ffffff;
    text-transform:uppercase;
    font-size:9px;
    font-family: Arial, Helvechia, Verdana;
    text-align:center;
    margin-left: 20px;
}


/*scroll sub_communidades*/

.cop_communities_list{
    overflow-x: auto;
    width:98%;
}

/*Menu Subcomunidades*/

.cop_font_icon .sub_cop_subcomunidades {
    color:#634B31;
    font-family:verdana;
    text-transform:uppercase;
}



