/* participantes */ 
.cop_portlet {
    border: thin solid black;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.cop_portlet .portletHeader {
    background-color: #DDD;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cop_portlet .cop_member_submit_input {
    background-image:url("++resource++communities.practice.images/lupa.jpg");
    background-repeat:no-repeat;
    background-color:transparent;
    height:16px;
    width:16px;
    border:none;
    text-indent:-999em;
    cursor:pointer; 
}

.cop_portlet_search {
    display: block;
    width: 80%;
    margin: 16px auto;
    font-size: 16pt;
}

.cop_portlets_search_form{
    margin: 3px;
}

.cop_portlets_search_form .cop_member_text_input{
    width: 84%;
}

.cop_portlets_search_form .cop_member_submit_input{
    width: 10%;
}

.cop_participantes_container {
    margin: 0 10px;
    overflow: auto;
}

.cop_participante {
    float: left;
    margin: 2px 2px;
    width: 32px; 
    height: 46px; 
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

.cop_participante a img{
    max-width: 100%;
    max-height: 100%;
}

.cop_participantes_subtitle {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 14px auto;
    margin-bottom: 1px;
}

.cop_participante.dontshow {
    display: none;
}

.cop_portlet_showall {
    display: block;
    width: 100%;
    text-align: center;
}

.cop_portlet_showall label {
    margin-right: 5px;
}

.cop_participante.glow {
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.75);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 255, 0.75); 
    -moz-box-shadow: 0 0 15px rgba(0, 0, 255, 0.75);
}

.cop_tweet_time {
    margin: 3px;
    margin-left: 12px;
    font-size: 9pt;
}

.cop_portlet .cop_tabular_abas li {
    display: inline;
    border: none;
}

.cop_portlet .cop_tabular_abas .cop_selected {
    font-weight: bold;
    border-bottom: thin solid #CCC;
}

.cop_portlet .cop_tabular_abas li a {
    padding: 0 5px;
    border-bottom: thin solid transparent;
}

.cop_portlet .cop_tabular_contents {
    padding: 8px;
    border: none;
}

div.position-3\:4 {
    margin-left: -16.875%
}

div.width-1\:4 {
    width: 15.75%;
}

/*Facebook Widget*/
div.storyInnerContent {
    margin-left: 0;
}

a.actorPhoto {
    display: none;
}

/*Youtube Widget*/
#channel_div * {
    max-width: 100%;
    width: auto;
}

#channel_div > div {
    margin-bottom: 8px;
}

#channel_div td {
    display: block;
    float: left;
    clear: both;
    width: 190px;
}

#channel_div td img {
    max-width: 100%;
}

#cop_invitation, #cop_invitation_container {
    text-align: center;
    padding-top: 12px;
}

#cop_invitation_container {
    min-height: 32px;
}

#cop_invitation span {
    color: #000;
    padding: 5px;
    background-color: #EEE;
    border: 1px solid #AAA;
    border-radius: 4px;
    display: inline;
    position: relative;
}

.cop_portlet .sub_cop_container {
    margin-left: 10px;
}

.cop_portlet .sub_cop_current > a span {
    font-weight: bold;
}

.sub_cop_container.closed > div {
    display: none;
}

.cop_portlet .closed.sub_cop_container::before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #000000;
}

.cop_portlet .leaf.sub_cop_container::before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 3px solid #000;
}

.cop_portlet .sub_cop_container::before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8.7px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
}
