/*Tab: Posts*/

.cop_timeline_author_image {
    width:37px;
    height:47px;
    float:left;
}

.cop_timeline_author_image .cop_timeline_avatar img{
    width: 37px;
    height: 47px;
}

.cop_timeline_container {
    margin-left: 50px;
    font-size: 15px;
}

.cop_timeline_container .cop_timeline_news_date{
    float: right;
    font-size: 13px;
}

.cop_timeline_container .cop_timeline_news_description{
    text-align: justify;
    width: 100%;
    display: block;
}

.cop_timeline_news_image {
    display: block;
    margin-top: 8px;
}

.cop_timeline_container .cop_timeline_authorname{
    font-size: 15px;
    font-weight: bold;
}

.cop_timeline_container .cop_timeline_icon {
    float: left;
    margin-top: 8px;
    margin-right: 12px;
}

.cop_timeline_container .cop_timeline_content {
    margin-left: 4px;
    margin-top: 4px;
}

.cop_timeline_commentaries {
    padding-top: 10px;
}

.cop_timeline_commentaries .cop_timeline_see_more {
    display: block;
    background-color: rgb(242, 242, 242);
    padding: 3px;
    margin-top: 2px;
}

.cop_timeline_commentaries .cop_timeline_see_more:before{
    content:"+";
    display:inline-block;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.cop_timeline_news_actionbar a{
    color: rgb(0, 144, 117);
    position:relative;
}

.cop_timeline_news_item hr {
    margin: 20px 0;
    border: none;
    background-color: #000;
    height: 1px;
}

a.cop_timeline_news_title {
    font-size: 8pt;
    vertical-align: top;
    line-height: 2em;
}

.cop_timeline_news_actionbar {
    margin-top: 10px;
}

.cop_timeline_news_action {
    font-size: 8pt;
    text-transform: uppercase;
    margin-right: 5px;
}

.cop_timeline_news_comment {
    margin-left: 47px;
}

.cop_timeline_news_comment, .cop_timeline_commentary {
    background-color: rgb(242, 242, 242);
}

.cop_timeline_news_comment > div {
    margin-left: 47px;
    margin-top: 28px;
    padding: 7px 0;
}

.cop_timeline_commentary {
    margin-top: 2px;
    padding: 3px;
    min-height: 38px;
    position: relative;
}

.cop_timeline_commentary .cop_timeline_commentary_content {
    display: block;
    vertical-align: top;
    margin-left: 35px;
}

.cop_timeline_commentary .cop_timeline_commentary_date {
    float: right;
    font-size: 11px;
}

.cop_timeline_commentary .cop_timeline_news_actionbar {
    margin-left: 0;
}

.cop_timeline_commentary *{
    font-size: 13px;
}

.cop_timeline_commentary_avatar img {
    height: 38px;
    width: 30px;
    float: left;
}

.cop_timeline_commentary_author {
    line-height: 25px;
}

.cop_timeline_commentary_author, .cop_timeline_commentary_text {
    vertical-align: top;
    display: block;
    text-align: justify;
}

.cop_timeline_commentary_content .cop_timeline_news_action{
    color: rgb(0, 144, 117);
}

/*popaction clear*/
.cop_timeline_popup fieldset, .cop_timeline_popup .editionComment {
    margin: 0;
    padding: 0;
}

.cop_timeline_popup fieldset span.required{
    display: none;
}

.cop_timeline_popup div.formControls {
    margin: 0;
}

.cop_timeline_popup #newTagsSection, .cop_timeline_popup #newTagsTitle{
    width: 100%;
    margin: 0;
}

.cop_timeline_popup #existingTagsHelp, #newTagsHelp {
    float: left;
    color: #FFF;
}

.cop_timeline_popup .cop_timeline_popaction .formHelp {
    color: #FFF;
}

.cop_timeline_popup #existingTagsHelp, .cop_timeline_popup #newTags textarea{
    width: 300px;
}

.cop_timeline_popup .field {
    margin-bottom: 0;
}

/*Action Popups*/
.cop_timeline_popaction > div {
    display: none;
    position: absolute;
    background-color: rgba(117, 117, 117, 0.9);
    min-width: 250px;
    min-height: 62px;
    margin-top: 10px;
    float: left;
    left: 0;
    z-index: 5;
    color: #FFF;
    cursor: default;
    padding: 10px;
}

.cop_timeline_popaction > div:before {
    border: 11px solid transparent;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 11px solid rgba(117, 117, 117, 0.9);
    position: absolute;
    top: -22px;
    left: 16px;
}

.cop_timeline_popaction .cop_timeline_popaction_title {
    text-transform: none;
    font-size: 7.5pt;
}

.cop_timeline_popaction .cop_timeline_popaction_footer {
    position: absolute;
    bottom: 13px;
    line-height: 15px;
    height: 22px;
    width: 245px;
    margin-top: 7px;
}

.cop_timeline_popaction_footer input[type=button], input[type=submit] {
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    font-size: 6pt;
    padding: 6px;
    padding-top: 5px;
    margin: 0 auto;
}

.cop_timeline_popaction input[type=text].search {
    background-image: url("++resource++communities.practice.images/lupa.jpg");
    background-repeat: no-repeat;
    background-position: 225px 50%;
    border-color: #000;
}

.cop_timeline_popaction_reportmessage::-webkit-input-placeholder { /* WebKit browsers */
    color:    #F00;
}
.cop_timeline_popaction_reportmessage:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #F00;
}
.cop_timeline_popaction_reportmessage::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #F00;
}
.cop_timeline_popaction_reportmessage:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #F00;
}

.cop_timeline_popaction select {
    padding-left: 6px;
    border: 1px solid #FFF;
    background-color: #FFF;
    width: 245px;
    min-height: 22px;
    margin-bottom: 9px;
}

.cop_timeline_popaction_searchresults {
    display: none;
    width: 244px;
    height: 87px;
    background-color: #FFF;
    border: 1px solid #000;
    margin-top: -1px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cop_timeline_popaction_searchresults.active{
    display: block;
}

.cop_timeline_popaction_searchresults span {
    color: #000;
    font-size: 7pt;
    display: block;
    padding: 3px;
    font-weight: normal;
    text-transform: none;
}

.cop_timeline_popaction_searchresults span.selected {
    background-color: #EEE;
    font-weight: bold;
}

.cop_timeline_popaction fieldset {
    border: none;
}

.cop_timeline_popaction fieldset, .cop_timeline_popaction #fieldset-default .field, .cop_timeline_popaction fieldset legend, .cop_timeline_popaction .documentFirstHeading, .cop_timeline_popaction .ArchetypesReferenceBrowserWidget {
     display: none;
 }

.cop_timeline_popaction #fieldset-default, .cop_timeline_popaction .field#archetypes-fieldname-comunidades {
     display: block;
 }

 .cop_timeline_action_tag #fieldset-categorization {
     display: block;
 }

 .cop_timeline_action_tag #fieldset-default {
     display: none;
 }

 .cop_timeline_action_tag #fieldset-categorization .formQuestion[for='subject'], .cop_timeline_action_tag #fieldset-categorization .formQuestion[for='relatedItems']  {
     display: none;
 }

 .cop_timeline_action_tag #archetypes-fieldname-location, .cop_timeline_action_tag #archetypes-fieldname-language {
     display: none;
 }

 .cop_timeline_action_tag .noTagsSelected, .cop_timeline_action_tag .oneOrMoreTagsSelected {
     display: none;
 }

 .cop_timeline_action_comment fieldset{
     display: block;
 }

.cop_timeline_action_comment fieldset legend, .cop_timeline_action_comment fieldset p {
    display: none;
}

.cop_timeline_action_comment > div textarea{
    width: 400px;
}
